In [624]:
import numpy as np
import math
import pandas as pd

In [625]:
def return_unique_characteristics(column: int, datos: list) -> list:
    characteristics = datos[:,column].tolist()
    characteristics

    unique_characteristics = []

    for characteristic in characteristics:
        if not(characteristic in unique_characteristics):
            unique_characteristics.append(characteristic)
    return unique_characteristics

def create_dictionary(unique_characteristics: list, total_class: int) -> dict:
    dictionary = dict()

    for characteristic in unique_characteristics:    
        for i in np.arange(total_class):
            key = str(characteristic) + str(i)
            dictionary.setdefault(key, 0)
    return dictionary

def gini(total_class: int, column: int, column_class: int, datos: list):
    unique_characteristics = return_unique_characteristics(column=column)
    dictionary = create_dictionary(unique_characteristics=unique_characteristics, total_class=total_class)

    for i in np.arange(datos.shape[0]):
        key = datos[i,column] + datos[i, column_class]
        dictionary[key] = dictionary[key] + 1


    total_sum = 0
    for characteristic in unique_characteristics:
        simple_sum = 0
        ni = 0
        for i in np.arange(total_class):
            key = str(characteristic) + str(i)
            simple_sum += dictionary[key] / datos.shape[0]
            ni += dictionary[key]
        simple_sum = 1 - simple_sum
        total_sum += (simple_sum * ni) / datos.shape[0] 
    print(total_sum)

def entropia(total_class: int, column: int, column_class: int, datos: list):
    unique_characteristics = return_unique_characteristics(column=column, datos=datos)
    dictionary = create_dictionary(unique_characteristics=unique_characteristics, total_class=total_class)

    for i in np.arange(datos.shape[0]):
        key = str(datos[i,column]) + str(datos[i, column_class])
        dictionary[key] = dictionary[key] + 1


    total_sum = 0
    for characteristic in unique_characteristics:
        simple_sum = 0
        ni = 0
        for i in np.arange(total_class):
            key = str(characteristic) + str(i)
            res = (dictionary[key] / datos.shape[0])
            if(res):
                res = res * math.log2(dictionary[key] / datos.shape[0])
            simple_sum += res
            ni += dictionary[key]
        simple_sum = - simple_sum
        total_sum += (simple_sum * ni) / datos.shape[0] 
    return total_sum
    #print(total_sum)

In [626]:
total_class = 3
column_class = 2
entropia(total_class=total_class, column=0, column_class=column_class, datos=new_data)
entropia(total_class=total_class, column=1, column_class=column_class, datos=new_data)

0.9738761698832273

# **Twitter**

In [627]:
df = pd.read_csv('Twitter.csv')

In [628]:
df.head()

,Unnamed: 0,nombre,cantidad_caracteres_nombre,tiene_foto_perfil,cantidad_seguidores,cantidad_seguidos,promedio_publicaciones,perfil_privado,dia_mas_publica,comenta_publicaciones,clase
0,0,Catalin31937081,largo,Sí,bajo,bajo,bajo,No,Sábado,Sí,Fake
1,1,JadeCrespo8,medio,Sí,bajo,medio,bajo,No,Martes,Sí,Fake
2,2,V12Ara,corto,Sí,bajo,bajo,bajo,No,Martes,Sí,Fake
3,3,BriannaLun_,medio,Sí,bajo,bajo,bajo,No,Martes,Sí,Fake
4,4,IsoldaMancillas,largo,Sí,bajo,bajo,bajo,No,Martes,Sí,Fake

In [629]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df = df.loc[:, ~df.columns.str.contains('^nombre')]

df['clase'] = df['clase'].replace({'Fake': 0, 'Real': 1})
df['clase'] = df['clase'].replace({'FALSO': 0, 'real': 1})

In [630]:
df.tail()

,cantidad_caracteres_nombre,tiene_foto_perfil,cantidad_seguidores,cantidad_seguidos,promedio_publicaciones,perfil_privado,dia_mas_publica,comenta_publicaciones,clase
289,medio,si,bajo,bajo,bajo,no,sabado,no,0
290,medio,si,bajo,bajo,bajo,no,domingo,no,0
291,largo,si,bajo,bajo,bajo,no,miercoles,no,0
292,largo,si,medio,alto,bajo,no,sabado,no,0
293,medio,si,medio,medio,bajo,no,miercoles,no,0

In [631]:
twitter = df.to_numpy()

entropis = []
for i in np.arange(8):
    total_class = 2
    column_class = 8
    entropis.append(entropia(total_class=total_class, column=i, column_class=column_class, datos=twitter))
entropis = np.array(entropis)
print(entropis)

[0.85632273 0.83023047 0.7598031  0.78977323 0.8717221  0.82573526
 0.33491488 0.72101021]

In [632]:
print(entropis.min())

0.33491488013992987

In [633]:
result = np.where(entropis == entropis.min())

column_names = df.columns.tolist()
print(column_names[result[0][0]])

dia_mas_publica

In [634]:
import pandas as pd
import scipy.stats as stats

# Ejemplo de uso
# Supongamos que tenemos un dataframe llamado 'df' con 5 columnas donde la última columna es la clase

# Extrae la primera columna del dataframe
columna_1 = df.iloc[:, result[0][0]]

# Calcula la asociación entre la primera columna y el resto de columnas utilizando la prueba de chi-cuadrado
asociaciones = []
for columna in df.columns[:-1]:  # Excluimos la última columna (clase)
    tabla_contingencia = pd.crosstab(columna_1, df[columna])
    _, p_value, _, _ = stats.chi2_contingency(tabla_contingencia)
    asociaciones.append(p_value)

print(asociaciones)

[0.41557326294720204, 4.0343519405537154e-48, 0.0016279983266533596, 0.006501242160420438, 0.5245844962650021, 2.942462847231813e-50, 0.0, 1.069340807379657e-43]

# **Facebook**

In [635]:
df = pd.read_csv('Facebook.csv')

In [636]:
df.head()

,Unnamed: 0,caracteres_nombre,foto_perfil,num_amigos,dias_mas_Publicaciones,paginas_que_sigue,Clase
0,0,corto,Sí,medio,Domingo,pocas,T
1,1,medio,Sí,medio,Domingo,pocas,T
2,2,medio,Sí,medio,Domingo,pocas,T
3,3,corto,Sí,medio,Domingo,pocas,T
4,4,corto,Sí,medio,Viernes,pocas,T

In [637]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df['Clase'] = df['Clase'].replace({'T': 0, 'F': 1})

In [638]:
df.tail()

,caracteres_nombre,foto_perfil,num_amigos,dias_mas_Publicaciones,paginas_que_sigue,Clase
356,largo,SI,medio,Sabado,algunas,0
357,medio,SI,bajo,ninguno,pocas,1
358,corto,SI,bajo,ninguno,pocas,1
359,medio,SI,alto,ninguno,pocas,1
360,largo,SI,medio,ninguno,pocas,0

In [639]:
facebook = df.to_numpy()

entropis = []
for i in np.arange(4):
    total_class = 2
    column_class = 5
    entropis.append(entropia(total_class=total_class, column=i, column_class=column_class, datos=facebook))
entropis = np.array(entropis)
print(entropis)

[0.83703369 0.80202375 0.75917363 0.60933213]

In [640]:
print(entropis.min())

0.6093321268960614

In [641]:
result = np.where(entropis == entropis.min())

column_names = df.columns.tolist()
print(column_names[result[0][0]])

dias_mas_Publicaciones

In [642]:
import pandas as pd
import scipy.stats as stats

# Ejemplo de uso
# Supongamos que tenemos un dataframe llamado 'df' con 5 columnas donde la última columna es la clase

# Extrae la primera columna del dataframe
columna_1 = df.iloc[:, result[0][0]]

# Calcula la asociación entre la primera columna y el resto de columnas utilizando la prueba de chi-cuadrado
asociaciones = []
for columna in df.columns[:-1]:  # Excluimos la última columna (clase)
    tabla_contingencia = pd.crosstab(columna_1, df[columna])
    _, p_value, _, _ = stats.chi2_contingency(tabla_contingencia)
    asociaciones.append(p_value)

print(asociaciones)

[0.3591110033562538, 2.0159185732948584e-37, 1.896428313198007e-06, 0.0, 0.09272798349361645]

# **Reconocimiento Perfiles**

In [643]:
df = pd.read_csv('ReconocimientoPerfiles.csv')

In [644]:
df.head()

,Unnamed: 0,Edad,Genero,Region,Integrantes-Familia-num,Proveedor-Familia,Tutor,Vive-con-Familia,Enfermedad-CrÃ³nica,Carrera,...,Noviazgo,Actividad-Cultural-o-Deportiva,Tiempo-con-sus-amigos-compaÃ±eros,Horas-Semana-Divertirse con-sus-amigos,ConsumÃ­a-Alcohol-Entre-semana,ConsumÃ­a-Alcohol-Fin-semana,Horas-DÃ­a-Dedicada-Redes-Sociales,Gustan-Videojuegos,Horas-Semana-Dedicada-Videojuegos,Horas-Semana-Dedicada-Actividades-Entretenimiento
0,0,señor,Masculino,Sierra Sur,muchos,Ambos,Madre,No,No,Ingeniería en Computación,...,No,No,No,baja,nunca,nunca,<1,No,0,1-3
1,1,señor,Masculino,Valles Centrales,algunos,Mamá,Madre,Sí,No,Ingeniería en Computación,...,Sí,Sí,Sí,media,casi-nunca,a veces,>2,Sí,>3,1-3
2,2,señor,Masculino,Otro estado,algunos,Papá,Padre,Sí,No,Ingeniería en Computación,...,Sí,No,Sí,baja,casi-nunca,casi-nunca,1-2,Sí,1-3,1-3
3,3,joven,Masculino,Mixteca,muchos,Mamá,Madre,No,No,Ingeniería en Computación,...,No,Sí,Sí,baja,a veces,regularmente,1-2,No,0,1-3
4,4,joven,Masculino,Mixteca,algunos,Papá,Madre,Sí,No,Ingeniería en Computación,...,Sí,No,No,baja,nunca,casi-nunca,1-2,Sí,>3,>3

In [645]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

df['Promedio-Primer-Semestre'] = df['Promedio-Primer-Semestre'].replace({'malo': 0, 'regular': 1, 'bueno': 2})

df = df.loc[:, ['Edad','Genero','Region','Integrantes-Familia-num','Proveedor-Familia','Tutor','Vive-con-Familia','Enfermedad-CrÃ³nica','Carrera','Semestre','Preparatoria','Promedio-Preparatoria','Materias-Relacionadas','Carrera-Elegida-Ajusta-A-Gustos-Habilidades','Buena-RelaciÃ³n-Familiar','Buena-RelaciÃ³n-Amigos-CompaÃ±eros','Materias-Cursadas-Primer-Semestre','Materias-Aprobadas-Primer-Semestre','Materias-Reprobadas-De-ComputaciÃ³n','Materias-Reprobadas-De-MatemÃ¡ticas','Materias-Reprobadas-De-Ciensias-Sociales','Horas-Promedio-Estudio-Examenes','Horas-Promedio-Estudio-Actividades-Escolares','Cursos-Extra-Primer-Semestre','Noviazgo','Actividad-Cultural-o-Deportiva','Tiempo-con-sus-amigos-compaÃ±eros','Horas-Semana-Divertirse con-sus-amigos','ConsumÃ­a-Alcohol-Entre-semana','ConsumÃ­a-Alcohol-Fin-semana','Horas-DÃ­a-Dedicada-Redes-Sociales','Gustan-Videojuegos','Horas-Semana-Dedicada-Videojuegos','Horas-Semana-Dedicada-Actividades-Entretenimiento','Promedio-Primer-Semestre']]

In [646]:
df.tail()

,Edad,Genero,Region,Integrantes-Familia-num,Proveedor-Familia,Tutor,Vive-con-Familia,Enfermedad-CrÃ³nica,Carrera,Semestre,...,Actividad-Cultural-o-Deportiva,Tiempo-con-sus-amigos-compaÃ±eros,Horas-Semana-Divertirse con-sus-amigos,ConsumÃ­a-Alcohol-Entre-semana,ConsumÃ­a-Alcohol-Fin-semana,Horas-DÃ­a-Dedicada-Redes-Sociales,Gustan-Videojuegos,Horas-Semana-Dedicada-Videojuegos,Horas-Semana-Dedicada-Actividades-Entretenimiento,Promedio-Primer-Semestre
137,joven,Masculino,Región Cuenca del Papaloapan,algunos,Mamá,Madre,No,No,Ingeniería en Mecatrónica,Segundo,...,No,No,baja,nunca,nunca,<1,Sí,1-3,1-3,0
138,joven,Femenino,Costa,algunos,Papá,Madre,No,No,Ingeniería en Mecatrónica,Segundo,...,No,Sí,media,nunca,casi-nunca,>2,No,0,>3,0
139,señor,Masculino,Mixteca,pocos,Ambos,Pariente,No,No,Ingeniería en Mecatrónica,Segundo,...,No,No,baja,nunca,nunca,0,No,0,1-3,0
140,joven,Masculino,Istmo,algunos,Ambos,Madre,No,No,Ingeniería en Mecatrónica,Segundo,...,Sí,Sí,baja,nunca,nunca,>2,Sí,1-3,1-3,1
141,joven,Masculino,Mixteca,algunos,Mamá,Madre,Sí,No,Ingeniería en Mecatrónica,Segundo,...,No,No,baja,nunca,nunca,>2,Sí,>3,>3,0

In [647]:
perfiles = df.to_numpy()

entropis = []
for i in np.arange(35):
    total_class = 3
    column_class = 34
    entropis.append(entropia(total_class=total_class, column=i, column_class=column_class, datos=perfiles))
entropis = np.array(entropis)
entropis = np.delete(entropis, -1)
print(entropis)

[1.09293454 1.10494314 0.8199787  1.08922022 0.92994865 1.00427021
 1.08446664 1.16507837 0.72524594 0.77873809 0.79845344 1.08792193
 1.07304613 1.07998783 1.13797752 1.08811103 1.08563791 1.00427979
 1.00336711 1.02930728 1.15124587 1.07195744 1.1021616  1.12711205
 1.08999735 1.10133315 1.09851236 0.97555931 1.01693176 0.93909547
 0.9409765  1.09120182 0.96358662 1.05634074]

In [648]:
print(entropis.min())

0.7252459397071693

In [649]:
result = np.where(entropis == entropis.min())

column_names = df.columns.tolist()
print(column_names[result[0][0]])

Carrera

In [650]:
import pandas as pd
import scipy.stats as stats

# Ejemplo de uso
# Supongamos que tenemos un dataframe llamado 'df' con 5 columnas donde la última columna es la clase

# Extrae la primera columna del dataframe
columna_1 = df.iloc[:, result[0][0]]

# Calcula la asociación entre la primera columna y el resto de columnas utilizando la prueba de chi-cuadrado
asociaciones = []
for columna in df.columns[:-1]:  # Excluimos la última columna (clase)
    tabla_contingencia = pd.crosstab(columna_1, df[columna])
    _, p_value, _, _ = stats.chi2_contingency(tabla_contingencia)
    asociaciones.append(p_value)

print(asociaciones)

[0.017319972619239506, 3.2784204187843984e-05, 0.4033130749691755, 0.34591478953884125, 0.8304143585109597, 0.4610388628582205, 0.362686310393192, 0.27789768925664526, 1.6653906971001617e-214, 9.816154742505166e-13, 0.8984423437210661, 0.7222118500364012, 0.010732986809696256, 0.2848226269810318, 0.02499421265424389, 0.49974466752606084, 0.45112586415666106, 0.0062167595342747, 0.00011092438752985267, 0.0006627240751289125, 0.4006968214495851, 0.8935497708204032, 0.1023986962880482, 0.8606504551043198, 0.016637590705158155, 0.09629391377239405, 0.40212710859948764, 0.8978717641518148, 0.33785884750356154, 0.16030976126416568, 0.901166341775838, 0.039643591901916006, 0.25615049587192956, 0.31869398307235186]